/*******************リセットcss*/

* {
	margin: 0;
	padding: 0;
}
html {
	font-size: 15px;
}
body {
	font-family: futura_r,"Noto Sans","Noto Sans CJK JP","Helvetica Neue", Helvetica,Verdana,"ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
/*
font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
*/
header, footer, nav, menu, article, aside, section, details, figcaption, figure{
	display: block;
}
ul, ol {
	list-style: none;
}
table {
	border-collapse: collapse;
}
img {
	vertical-align: bottom;
}
a img {
	border: none;
}
strong {
	font-weight: normal;
}
i {
	font-style: normal;
}

/*********************/